
@media only screen and (min-width:530px){
    .bigScreenText{
        display:flex;
    }

}
@media only scree and (min-resolution: 192dpi)
{
    .bigScreenText{
        display:flex;
    }
}
/* @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
 { 

    .bigScreenText{
        display:flex;
    }

} */
