.top-header--transparent {
  background-color:transparent;
  z-index: 2;
}
.profile .profile__header {
  height: 80vh;  /* view for height*/
  background-image:url('https://i.pinimg.com/736x/60/b0/a7/60b0a7ef623bc2487385bace5d68fc8c--material-wallpapers-android-fantastic-wallpapers.jpg');
  background-position: center center;
  background-size: 100%;
  width: 100%;
  position: relative;
 
  top: -65px; 
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile .profile__header{
  z-index: 1;
}
.profile__header .profile__header-container {
  text-align: center;
  position: relative;
  bottom: -60px; 
}

.profile__header-container img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile .profile__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile__container input {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile__actions {
  display: flex;
}
.profile__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.profile__action-circle {
  background: #f2f2f2;
  padding: 20px;
   border-radius: 50%;
  color: #523737;
  margin-bottom: 13px;
}

.profile__action-title {
  font-size: 12px;
  font-weight: 600;
}
